.table-item {
    width: 200px; 
    text-overflow: ellipsis; 
    overflow: hidden;

}

.table-item:nth-child() {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.table-cell {
    border: 1px solid black;
    margin: 0;
    width: 20%;
}

.box-text {
    width: 200px;
    height: 100px;
    table-layout: fixed;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
}

.box-text:after {
    content: "...";
    display: block;
}

