body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hidden {
    display: none;
    transition: 500ms;
}

.show {
    display: block;
}

.alerts__error {
    display: flex;
    height: 50px;
    width: 100px;
    position: fixed;
    top: 5%;
    left: 47%;
    border: 4px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(151, 63, 63);
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
    justify-content: center;
    padding: 3%;
    z-index: 5;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.alerts__close {
    color: red;
    top: 2%;
    right: 5%;
    position: absolute;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.alerts__confirm {
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    width: 100px;
    position: fixed;
    top: 5%;
    left: 47%;
    border: 4px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
    z-index: 5;
    justify-content: space-around;
    padding: 3%;
}

.alerts__confirm-accept {
    cursor: pointer;
    width: 34%;
    border: 2px green solid;
    padding: 3%;
    margin: 3%;
}

.alerts__confirm-decline {
    cursor: pointer;
    width: 34%;
    border: 2px rgb(128, 0, 0) solid;
    padding: 3%;
    margin: 3%;
}

.accordion__item-header {
    cursor: pointer;
    width: 200px;
    margin: 0 auto;
    background-color: darkcyan;
    height: 40px;
    font-size: 16px;
    color: white;
    padding: 1%;
    text-align: center;
    border: 2px solid black;
    display: flex;
    align-items: center;


}



.accordion__item-content {
    display: flex;
    margin: 0 auto;
    width: 200px;
    height: fit-content;
    padding: 1%;
    border: 2px solid;
    background-color: lightblue;

}

.tree {
    width: 300px;
    margin: 2% auto;
    background-color: lightblue;
    padding: 2%;
    border: 2px solid;
    border-radius: 5px;
}

.tree__root {

}

.tree__root::first-line {
    font-weight: bolder;
}

.tree__main-branch {
    list-style: none;
}

.tree__button-close {
    border: none;
    font-size: 20px;
    color: black;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.tree__button-close:hover {
    color: darkcyan;
}

.tree__button-open {
    border: none;
    color: black;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.tree__button-open:hover {
    color: darkcyan;
}

.up {
    font-size: 20px;
    transform: rotate(180deg);
}

.hidden-content {
    display: none;
}

